@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dropdown {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;
  user-select: none;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
  color: #4b5563;
  font-size: 14px;
}

.dropdown-header:hover {
  border-color: #eaba2c;
}

.dropdown-icon {
  font-size: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  color: #4b5563;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #eaba2c;
  color: white;
}
